.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    /* width: 100%; */
    max-width: inherit;
    width: inherit;
    /* height: 300px; */
    padding: 47px 80.29px 47px 64px;
    /* border: 5px solid red; */
    background-color: #13345B;
    display: flex;
    justify-content: space-between;
    color: #FDD504;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

ul {
    display: flex;
    gap: 52px;
}

li {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2rem;
}
.active {
    border-bottom: 3px solid #FDD504;
}
li:hover {
    cursor: pointer;
    border-bottom: 3px solid #FDD504;
}
.header_icon {
    display: flex;
    gap: 35.26px;
}
.icon {
    color: #FDD504;
}




/* main */
main {
    width: 100%;
    /* height: 1552px; */
    padding: 59px 108px 76px 108px;
    margin-top: 300px;
    border: 5px solid green;
    font-family: 'Inter';
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    color: #13345B;
    margin-bottom: 139px;
}
.F_L_name{
    width: 100%;
    height: 111px;
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 152px;
    margin-bottom: 62px;
}
.Age_E_adress {
    width: 100%;
    height: 111px;
    /* border: 5px solid green; */
    display: flex;
    justify-content: space-between;
    gap: 152px;
    margin-bottom: 194px;
}
.label_two_line {
    display: block;
    margin-bottom: 24px;
}
#F_name,
#L_name,
#Age,
#E_mail {
    width: 100%;
    height: 58px;
    border: none;
    border-bottom: 5px solid #15C1E7;
    outline: none;
}
.two_line_div {
    margin-bottom: 62px;
    font-weight: 700;
    font-size: 1.5rem;
    color:  #13345B;
}
.radio_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #15C1E7;
    font-weight: 700;
    font-size: 2rem;
}
.schedule{
    font-weight: 700;
    font-size: 1.25rem;
    color: #13345B;
}
h2{
    width: 35%;
}
input{
    font-size: 2rem;
}
input[type="radio"]{
    width: 16px;
    height: 16px;
}
.checkbox_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #15C1E7;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 111px;
}
h3{
    width: 35%;
}
.checkbox{
    font-weight: 700;
    font-size: 1.25rem;
    color: #13345B;
}
input[type="checkbox"]{
    width: 36px;
    height: 36px;
}
.choose_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #15C1E7;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 111px;
    margin-bottom: 166px
}
h4{
    width: 50%;
}
button{
    width: 16%;
    height: 61px;
    color: #000000;
    font-weight: 400;
    font-size: 2rem;
}
button:hover{
    cursor: pointer;
}
p{
    color: #000000;
    font-weight: 400;
    font-size: 2rem;
}
.sumbiT_reset_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button[type="submit"]{
    width: 45%;
    height: 108px;
    background-color: #FDD504;
    color: #ffffff;
    font-weight: 700;
    font-size: 2.25rem;
    border: none;
    border-radius: 15px;
}
input[type="reset"]{
    width: 45%;
    height: 108px;
    background-color: #15C1E7;
    color: #ffffff;
    font-weight: 700;
    font-size: 2.25rem;
    border: none;
    border-radius: 15px;
}
button[type="submit"]:hover{
    cursor: pointer;
    width: 46%;
    background-color: #f2e8b4;
    color: #000000;

}
input[type="reset"]:hover{
    cursor: pointer;
    width: 46%;
    background-color: #9ee4f4;
    color: #000000;
}
    


/* footer */

footer {
    width: 100%;
    height: 419px;
    /* border: 5px solid red; */
    padding: 110px 108px 110px 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13345B;
}

.footer_icons {
    display: flex;
    gap: 69px;
}

.fa-square-facebook {
    color: #15C1E7;
}

.fa-instagram {
    color: #FB0110;
}

.fa-twitter {
    color: #75A1F3;
}

.fa-youtube {
    color: #FDD504;
}

.fa-square-facebook:hover {
    cursor: pointer;
    transform: skewY(20deg);
    transition-duration: .5s;
}

.fa-instagram:hover {
    cursor: pointer;
    transform: skewY(20deg);
    transition-duration: .5s;
}

.fa-twitter:hover {
    cursor: pointer;
    transform: skewY(20deg);
    transition-duration: .5s;
}

.fa-youtube:hover {
    cursor: pointer;
    transform: skewY(20deg);
    transition-duration: .5s;
}